{% extends "app/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
  

    <h3>Podes buscar un producto:</h3>

    <form action="/app/buscar/" method="GET">

        <input type="text" name="nombre" id="nombre">

        <input type="submit" value="Buscar">




    </form>

    

    {% if productos %}

    <p>Estamos buscando el: {{nombre}}</p>

    <ul>
	{% for producto in productos %}
		<li> {{producto.nombre}} </li>
		<li> U$D {{producto.precio}} </li>
	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}
